/* CSS files add styling rules to your content */

body {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  margin: 2em;
}

.enTete{
	 			padding-top:10px;
	 			background: #e0e0d2;
	 			text-transform: uppercase;
	 			text-align: center;
	 			font-family: Coldiac, sans-serif;		
       }

#ref{
  margin:10px;
  padding:10px;
  color:#cc0000;
  display:inline-block;
	line-height: 1.8;
	text-decoration: none;
  }
.rafraichir a:hover{
  background-color:#ccccb3;
}
.rafraichir{
  margin:10px;
}
/* d'en dessous du tableau aux flèches */
.app-container {
  margin-top : 50px;
}
/* flèches */
.app-paginator {
  float: right;
  margin-top: 20px;
  
  
}

#app-data-table {
  background-color:#cbcbb4;
  width: 100%;
}
/* num page */
#app-span-page{
  padding-right: 10px;
  
}

#app-spinner {
  width: 100%;
}

.app-dialog-name {
  font-size: 17px;
  padding-left: 27px;
  padding-top: 10px;
  

}
/* quand on place le curseur sur le tableau */
#app-table-body tr:hover {
  cursor: pointer;
  background:#ff5050;
}


/** DIALOG MODAL **/
/* boite qui s'ouvre qd on clique sur nom */
.mdl-dialog {
  border: none;
  box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
  width: 380px !important;  
}
  /* qd on clique sur un nom : le titre */
.mdl-dialog__title {
  padding: 24px 24px 0;
  margin: 0;
  font-size: 2.5rem; 
  
}
 /* boite de close */
.mdl-dialog__actions {
  padding: 8px 8px 8px 24px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
}
    
.mdl-dialog__actions > * {
  margin-right: 8px;
  height: 36px;
}

.mdl-dialog__actions > *:first-child {
  margin-right: 0;
}
    
.mdl-dialog__actions--full-width {
  padding: 0 0 8px 0;
}
  
.mdl-dialog__actions--full-width > * {
  height: 48px;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding-right: 16px;
  margin-right: 0;
  text-align: right; 
}
/* boite photo de profile */
.mdl-dialog__content {
  padding: 20px 24px 24px 24px;
  color: rgba(0,0,0, 0.54);
}


  